*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

/******/
/*GENERAL*/

body{
    font-family: 'quicksandregular';
}

a,
a:hover,
a::active{
    text-decoration: none;
}

ul li{
    list-style: none;
}

.no-mr{
    margin-right: 0;
}

p{
    line-height: 1.2em;
}

*:focus{
    outline: none;
}

/*******/
/*HEADER*/

header{
    background-color: transparent;
    width: 100%;
    position: fixed;
    height: 80px;
    z-index: 10;
    padding: 10px 0;
    transition: 0.5s;
}

header.sticky{
    height: 60px;
    padding: 0;
    transition: 0.5s;
    background-color: #083A5B;
}

header .logo{
    float: left;
    overflow: hidden;
    padding: 5px 0;
}

header .logo img{
    width: 45%;
}

header.sticky .logo img{
    width: 12%;
    padding: 5px 0;
}

nav .nav-menu{
    float: right;
}

nav .nav-menu li{
    float: left;
    margin-right: 15px;
    padding: 20px 0;
}

nav .nav-menu li:last-child{
    margin-right: 0;
}

nav .nav-menu a{
    color: white;
    padding: 5px;
    font-family: 'quicksandbold';
    transition: 0.2s;
}

nav .nav-menu li:hover .nav-op,
nav .nav-menu .nav-sel{
    background-color: white;
    color: #083A5B;
    transition: 0.2s;
}

/*******/
/*MAIN*/

#main{
    position: relative;
    z-index: 1;
    min-height: 700px;
    overflow: hidden;
}

#main::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../img/back-web-3.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    -webkit-filter: /*blur(1px)*/ contrast(0.6);
    filter: blur(1px) contrast(0.6);
    z-index: 2;
}

#main .cont-cols-2{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    color: white;
    padding: 140px 0;
}

#main .col-2{
    margin-top: 50px;
    padding: 0 20px;
}

#main .main-title{
    font-family: 'droid_sansbold';
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 0.02em;
    font-weight: lighter;
}

#main .main-par{
    padding: 10px;
    font-size: 1.1em;
}

#main .main-btns{
    padding: 20px 0;
}

.btn{
    padding: 0;
    background-color: transparent;
    border: 3px solid #ff5959;
    border-radius: 15px;
    color: white;
    font-family: 'quicksandbold';
    text-transform: uppercase;
    font-size: 1.1em;
    cursor: pointer;
}

.btn:hover,
.btn-act{
    background-color: #ff5959;
    transition: 0.2s;
}

.btn-act a{
    color: white;
    padding: 6px 15px;
    transition: 0.4s;
}

.btn-act:hover{
    background-color: transparent;
    color: #ff5959;
    transition: 0.4s;
}

#main .main-img{
    overflow: hidden;
    padding: 20px 10px;
    text-align: center;
}

#main .main-img img{
    width: 60%;
}

/*content*/

.content{
    padding: 60px 0 40px 0;
    overflow: hidden;
}

.content .content-title{
    font-size: 2em;
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
}

.content .content-subtitle{
    font-size: 2em;
    text-align: center;
    padding: 0 0 10px 0;
}

.content-img{
    margin: 0 auto;
    width: 40%;
}

.sub-container p{
    padding: 20px 0 0 0;
}

.funbox{
    padding: 10px 20px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 10px;
    border: 1px solid black;
}

.funbox:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
    padding: 20px;
}

.table-cont{
    padding: 20px 0;
}

.table-cont table{
    background-color: rgba(255,255,255,0.2);
}

.table-cont thead{
    font-weight: bolder;
}

.table-cont tbody tr:hover{
    color: black;
}

#hosting .content-img{
    width: 30%;
}

.host-list li{
    list-style-type: circle;
}


/*Dominio*/

#dominio{
    background-color: #EEEEEE;
}

.funbox-title{
    font-family: 'quicksandlight';
    padding: 5px 0;
    font-size: 1.5em;
}

.funbox-par{
    font-weight: lighter
}

/*NORMATIVA*/

#normativa{
    position: relative;
    background-color: #ACD4D6;
    color: white;
}

/*NIC*/

#nic{
    background-color: #e8e8e8;
    position: relative;
}


/*HOSTING*/

#hosting{
    background-color: #ff5959;
    color: white;
}

/*footer*/

footer{
    background-color: #083A5B;
    position: relative;
    bottom: 0;
    padding: 20px 0;
    overflow: hidden;
}

footer .footer-logo{
    overflow: hidden;
}

footer .footer-logo img{
    width: 50%;
}

footer .footer-copy{
    padding: 20px 0;
    text-align: right;
    color: white;
    font-family: 'quicksandlight';
}

.footer-copy a{
    color: rgba(255, 255, 255, 0.5);
    transition: 0.6s;
}

.footer-copy a:hover{
    color: white;
}